body {background-color: #f0f0f0}
.banner {height: 210px; background-image: url("../images/page/banner-bg.png"); background-size: cover}
.banner .banner-content {margin: auto; max-width: 1100px; background-image: url("../images/page/banner.png"); background-repeat: no-repeat; background-position: center; height: 210px}
.banner .banner-content .text {display: none}
.body { margin: auto; margin-top: 30px; max-width: 1200px}
.body .body-title {font-size: 24px; font-weight: normal; color: #000; margin-bottom: 15px}
.body-main {width: 910px; float: left; background-color: #fff; line-height: 2}
.body-main img {max-width: 100%!important;}
.body-main .wrapper {padding: 50px; min-height: 500px}
.body-sidebar {margin-left: 912px; min-height: 200px}
.body-sidebar .block {padding: 28px; margin-bottom: 2px; background-color: #fff}
.body-sidebar .block .block-title {font-weight: bold; padding-bottom: 15px; margin-bottom: 15px}
.body-sidebar .block-about a {color: #333; text-decoration: none; padding: 8px 0; display: block}
.body-sidebar .block-about a:hover {text-decoration: underline}
.body-sidebar .block-about a i {color: #cecece; float: right}
.body-sidebar .icon-tel {width: 15px; height: 16px; vertical-align: middle; background: url("../images/page/icon-tel.jpg"); display: inline-block}
.body-sidebar .block-contact .tel {color: #1085c9; font-size: 22px; font-weight: bold}
.body-sidebar .block-contact li {padding: 8px 0}
.body-sidebar .block-wx {text-align: center}

/* news-index */
.news-index .body-main ul.list li {border-bottom: 1px solid #dbdbdb; margin-bottom: 30px}
.news-index .body-main ul.list li a {text-decoration: none; color: #333; padding: 15px 15px 30px; display: block}
.news-index .body-main ul.list li a:hover {background-color: #f5f5f5}
.news-index .body-main ul.list li .date {margin-bottom: 15px; font-size: 18px}

@media (max-width: 1200px) {
    .body-main {width: 100%; float: none}
    .body-sidebar {width: 100%; margin-left: 0; margin-top: 20px}
    .body {padding: 0 10px}
    .banner .banner-content {background-image: url("../images/banner-bg.jpg")}
    .banner .banner-content .text {font-size: 28px; color: #fff; position: absolute; bottom: 20px; left: 20px; font-weight: bold; display: inline-block}
    h2.body-title {display: none}
}